<div class="container">
  <div class="row justify-content-center mb-3">
      <h1 class="display-2">About</h1>
  </div>

  <span class="row justify-content-center">
    <p class="text-center fs-21">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。<br>
    </p>
  </span>

  <div class="row justify-content-center">
    <img height="500" src="/assets/naganocake_about.jpg">
  </div>
  <br><br>
</div>
