@use '~bootstrap/scss/bootstrap';

.bg-gray {
  background-color: #eee;
}

.table.border-black, .table.border-black th, .table.border-black td {
  border: 1px solid black !important;
}

.card-img-overlay {
  margin-left: 180px;
  width: 420px;
  height: 130px;
  background-color: #fff;
  top: calc(40% - 0.5rem);
  opacity: 0.8;
}

.fs-21 {
  font-size: 21px;
}

.fs-13 {
  font-size: 13px;
}
